.sidebar .ant-menu-dark>.ant-menu {
  background: #181824;
}
.ant-menu-dark .ant-menu-item-selected,.ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: transparent;
  color:#9ebd9a;
}
.ant-menu-item{
  padding-left: 12px;
}