body {
  margin: 0;
  font-family:Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.ant-menu-dark, :where(.css-dev-only-do-not-override-11lehqq).ant-menu-dark>.ant-menu {
  background: #181824;
}
.custom-card{
  border-radius: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}
